<!doctype html>
<html>
<head>
<title>HiRe Recruitment Services</title>
  <!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/css/style.css">
<script type="text/javascript" src="/js/first.js"></script>
<!-- jQuery is required by Materialize to function. -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script type="text/javascript">
//custom JS code
</script>
</head>
<body onload="redbox()">
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">HiRe Recruitment Services</a>
        <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="register">Login/Register</a></li>
          <li><a href="about">services</a></li>
          <li><a href="thank_you">Contact Us</a></li>
          <li><a href="500">Search</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="register">Login/Register</a></li>
          <li><a href="about">services</a></li>
          <li><a href="thank_you">Contact Us</a></li>
          <li><a href="500">Search</a></li>
        </ul>
      </div>
    </nav>
  </header>
{{{body}}}
</body>
</html>
